<nav class="navbar navbar-expand-lg bg-info p-2 fixed-bottom">
    <div class="container-fluid">
        <a class='navbar-brand'> Nos contacts : </a>
        <button type='button' class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#menu'>
            <span class='navbar-toggler-icon'></span> 
        </button>
        <div class='collapse navbar-collapse' id='menu'>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-dark" href="mailto:kabinet.sylla@utt.fr">kabinet.sylla@utt.fr</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="mailto:fanta.dembele@utt.fr">fanta.dembele@utt.fr</a></li>
            </ul>
        </div>
        
    </div>
</nav> 

