<form method="GET" action="routerSoutenance.php" class="border bg-light p-4 w-50 rounded" style="margin: auto">         
    <div>
        <input type="hidden" name="action" value="ResponsableConfirmAjoutProject">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold"> Label du projet : </label> <br>
        <input class="form-control" type="text" name="label" placeholder="Entrez le label du projet">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold"> Nombre maximal d'étudiants : </label> <br>
        <select class="form-select w-25" name='nombre'>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success fw-bold me-4">Ajouter</button>
        <button type="reset" class="btn btn-danger text-white fw-bold">Effacer</button>
    </div>

</form>
</div>
