<form method="GET" action="routerSoutenance.php" class="border p-4 w-50 bg-light rounded" style="margin: auto">

    <div>
        <input type="hidden" name="action" value="SoutenanceConfirmInscrire">
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="radio" name="role" value="Responsable">
        <label class="form-check-label fw-bold"> Responsable </label> <br>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="radio" name="role" value="Examinateur">
        <label class="form-check-label fw-bold"> Examinateur </label> <br>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="radio" name="role" value="Etudiant">
        <label class="form-check-label fw-bold"> Etudiant </label> <br>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold"> Nom : </label> <br>
        <input class="form-control" type="text" name="nom" placeholder="Entrez votre nom">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold"> Prénom : </label> <br>
        <input class="form-control" type="text" name="prenom" placeholder="Entrez votre prénom">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold"> Login : </label> <br>
        <input class="form-control" type="text" name="login" placeholder="Entrez votre login">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold"> Password : </label> <br>
        <input class="form-control" type="password" name="password" placeholder="Entrez votre mot de passe">
    </div>
    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-success fw-bold me-4">S'inscrire</button>
        <button type="reset" class="btn btn-danger text-white fw-bold">Effacer</button>
    </div>

</form>
   
